<?xml version="1.0"?>

<launch>

	<param name="/use_sim_time" value="false"/>

	<!-- Launch for encoder_handler node -->
	<include file="$(find controls_launch)/launch/encoder_handler.launch"/>

	<!-- Launch for rplidar node -->
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>




</launch>